html{
    font-size: 150%;
}
div.menu{
    display:grid;
    width: 100%;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:40px;
    text-align:center;
    font-family:impact;
}
#a{
    grid-column:1;
    grid-row:1;      
}
#b{
    grid-column:2;
    grid-row:1;
}
#c{
    grid-column:3;
    grid-row:1;
}
#d{
    grid-column:4;
    grid-row:1;
}
.about{
    font-size: 75%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}